.container-resume{
    max-width: 1120px;
    margin: 0 auto;
    width: 98%;
    display: flex;
    gap: 20px;
    margin-top: -50px;
    justify-content: space-around;
    align-items: center;
    min-width: 410px;
}
